<!DOCTYPE html>
<html>
<head>
    <title>Personal Wizard - Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/handlebars.min.js"></script>
    <script src="/js/templates.js"></script>
</head>
<body>
    <div class="main">
        <div class="header"><img src="/img/android-icon-96x96.png"><span>Admin Webinterface</span></div>
        <div class="nav">
            <a href="/settings">Settings</a>
            <a href="/clock">Binary Clock</a>
            <a href="/shows">Shows</a>
            <a href="/gas">Gas</a>
        </div>
        <div class="body">
            {{{body}}}
        </div>
    </div>
</body>
</html>