<!DOCTYPE html>
<html>
    <head>
        <title>Outdated Seasons</title>
        <meta charset="utf-8" />
        <style>
            .snapshot {
                font-size: 11px;
                margin-top: 15px;
            }
            .icon {
                height: 25px;
            }
        </style>
    </head>
    <body>
        <h1>Here are some outdated seaons</h1>

        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Seasons</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {{#each shows}}
                    <tr>
                        <td><a href="{{../baseURL}}{{this.summary.the_movie_db_id}}" target="_blank">{{this.summary.title}}</a></td>
                        <td>{{this.summary.scraped_seasons}} of {{this.summary.aired_seasons}}</td>
                        <td>
                            {{! Need to be fucking png images. External fonts (e.g. Font Awesome) will not be included (gmail simply ignores them), cannot embed base64 images (gmail ignores them) }}
                            {{#if this.summary.watched}}
                                <img src="https://myocto.duckdns.org/img/watched.png" title="Watched" alt="Watched" class="icon">
                            {{else}}
                                <img src="https://myocto.duckdns.org/img/unwatched.png" title="Not (completely) watched" alt="Not (completely) watched" class="icon">
                            {{/if}}
                            {{#if this.summary.in_production}}
                                <img src="https://myocto.duckdns.org/img/running.png" title="In production" alt="In production" class="icon">
                            {{else}}
                                <img src="https://myocto.duckdns.org/img/runningBan.png" title="Dropped" alt="Dropped" class="icon">
                            {{/if}}
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>

        <div class="snapshot">Effective: {{date}}</div>
    </body>
</html>