{{#each shows}}
    <div class="show" data-id="{{this._id}}">
        <div class="poster">
            {{#if this.external_data.poster_path}}
                <img src="https://image.tmdb.org/t/p/w92{{this.external_data.poster_path}}">
            {{else}}
                <i class="fas fa-unlink" title="no poster found..."></i>
            {{/if}}
        </div>
        <div class="content">
            <div class="header">
                <span class="title">{{this.summary.title}} #{{this._id}}</span>
                <a href="{{../baseURL}}{{this.summary.the_movie_db_id}}" target="_blank">
                    <i class="fas fa-external-link-alt"></i>
                </a>
            </div>
            <div class="body">
                <div class="scraped">
                    Seasons scraped: {{this.summary.scraped_seasons}} of {{this.summary.aired_seasons}}
                </div>
                <div class="status">
                    {{#if this.summary.watched}}
                        <i class="fas fa-eye" title="Watched"></i>
                    {{else}}
                        <i class="fas fa-eye-slash" title="Not (completely) watched"></i>
                    {{/if}}
                    {{#if this.summary.in_production}}
                        <i class="fas fa-running" title="In Production"></i>
                    {{else}}
                        <span class="fa-stack fa-1x" title="Dropped">
                            <i class="fas fa-ban fa-stack-1x" style="font-size: 1.5em;color: red"></i>
                            <i class="fas fa-running fa-stack-1x"></i>
                        </span>
                    {{/if}}
                    <span class="toggleBlacklist">
                        {{#if this.blacklist}}
                            <i class="fas fa-book-dead" title="Remove from Blacklist"></i> Remove from Blacklist
                        {{else}}
                            <i class="fas fa-book" title="Add to Blacklist"></i> Add to Blacklist
                        {{/if}}
                    </span>
                </div>
                <div class="progressBar" data-seen="{{this.summary.episodes_watched}}" data-total="{{this.summary.episodes}}">
                    <span class="filler" style="width: calc({{this.summary.episodes_watched}}% / {{this.summary.episodes}} * 100)">&nbsp;</span>
                </div>
            </div>
        </div>
    </div>
{{/each}}