:root {
    --content-background: #eeeeee;
}
.form-group {
    --border: 1px solid #cccccc;
}

html, body {
    background-color: #b9b9b9;
    margin: 0;
    padding: 0;
}
.main {
    width: 100vw;
    max-width: 700px;
    height: 100vh;
    max-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    background-color: var(--content-background);
    box-shadow: 5px 0 5px -5px #595959, -5px 0 5px -5px #595959;
    display: flex;
    flex-direction: column;
}
.body {
    padding: 10px;
    overflow-y: auto;
    flex: 1;
}
.nav {
    background-color: #ffb3b3;
}
.nav a {
    text-decoration: none;
    color: #000000;
    border: 1px solid #000000;
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
}
.nav a:hover {
    background-color: #ffffff;
}
.main > .header {
    display: flex;
    align-items: center;
    background-color: #ffb3b3;
}
.main > .header span {
    font-size: 2em;
    font-weight: bold;
}

.spacer {
    flex: 1;
}

.button {
    display: inline-flex;
    align-items: center;
    background-color: #2925e6;
    padding: 15px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.inline-form .form-group {
    display: inline-flex;
    align-items: center;
    height: 35px;
    border: var(--border);
    padding: 5px;
}
.inline-form .form-group + .form-group {
    margin-left: 10px;
}
.inline-form .form-group > input:not(:first-child) {
    margin-left: 20px;
}
.inline-form .form-group > label:last-child {
    margin-right: 10px;
}

.block-form .form-group {
    padding: 10px;
    border: var(--border);
    border-radius: 5px;
    position: relative;
    margin: 10px 0;
}
.block-form .form-group + .form-group {
    margin-top: 20px;
}
.block-form .form-group > .title {
    position: absolute;
    top: -10px;
    background: var(--content-background);
    padding: 0 5px;
    left: 5px;
}