<form class="block-form" action="/settings" method="POST">
    <div class="form-group">
        <span class="title">Evening Temp Alert</span>
        <div class="input">
            <label for="evening_temp_alert.low_temp">Low Temp</label>
            <input name="evening_temp_alert.low_temp" type="number" value="{{setting.evening_temp_alert.low_temp}}">
        </div>
        <div class="input">
            <label for="evening_temp_alert.high_temp">High Temp</label>
            <input name="evening_temp_alert.high_temp" type="number" value="{{setting.evening_temp_alert.high_temp}}">
        </div>
    </div>
    <div class="form-group">
        <span class="title">Walking Time Alert</span>
        <div class="input">
            <label for="walking_time_alert.intensity">Rain Intensity</label>
            <input name="walking_time_alert.intensity" type="number" value="{{setting.walking_time_alert.intensity}}" step="0.01" min="0" max="1">
        </div>
        <div class="input">
            <label for="walking_time_alert.probability">Rain Probability</label>
            <input name="walking_time_alert.probability" type="number" value="{{setting.walking_time_alert.probability}}" min="0" max="100">
        </div>
    </div>
    <button class="button" type="submit">Save</button>
</form>